#projet {
    height: 15em;
    display: flex;
    justify-content: center;
    padding: 3em;
  }
  
  div#projet>div.inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
  }
  
  div#projet>div.inside>p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  div#projet>div.inside>p>a {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    width: 7em;
    text-decoration: none;
    border: #01333e solid 1px;
    color: #01333e;
    text-transform: uppercase;
  }

  @include respond-to("medium") {
    #projet {
      height: 40em;
    }
  
    div#projet>div.inside {
      width: 90%;
    }
  
    div#projet>div.inside>p {
      font-size: 30px;
    }
  }

  @include respond-to("small") {
      #projet {
  height: 50em;
  }

  #projet>.inside>p {
    font-size: 16px;
  }
  }